@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --periospot-blue-strong: #15365a;
  --periospot-blue-mystic: #003049;
  --periospot-cream: #669bbc;
  --periospot-white: #ffffff;
}

.dark {
  --background: var(--periospot-blue-strong);
  --foreground: var(--periospot-white);
}

body {
  color: var(--foreground);
  background: var(--background);
}
